

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  margin-top: 10%;
}

.alert{
    text-align: center;
    font-size: medium;
}

html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-size: 10px;
  /* display: flex; */
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

body {
  background: rgba(246, 241, 209);
}


.corner-button {
  font-family: "Lato", sans-serif;
  letter-spacing: 0.02rem;
  cursor: pointer;
  background: transparent;
  border: 0.2rem solid currentColor;
  padding: 0.001rem 1rem;
  font-size: 1.2rem;
  color: #06c17f;
  position: relative;
  transition: color 0.3s;
  margin-top: 15px;
}
.corner-button:hover {
  color: pink;
}
.corner-button:hover::before {
  width: 0;
}
.corner-button:hover::after {
  height: 0;
}
.corner-button:active {
  border-width: 0.25rem;
}
.corner-button span {
  position: relative;
  z-index: 2;
}
.corner-button::before, .corner-button::after {
  content: "";
  position: absolute;
  background: rgba(246, 241, 209);
  z-index: 1;
  transition: all 0.3s;
}
.corner-button::before {
  width: calc(100% - 3rem);
  height: calc(101% + 1rem);
  top: -0.5rem;
  left: 50%;
  transform: translateX(-50%);
}
.corner-button::after {
  height: calc(100% - 3rem);
  width: calc(101% + 1rem);
  left: -0.5rem;
  top: 50%;
  transform: translateY(-50%);
}